{% extends "base.html" %}
{% load static %}

{% block content %}

<main role="main">

  <div class="container">
    <!-- Example row of columns -->
    <h2>{{ item.title }}</h2>

    <div class="row">
      {% for product in product_list %}
        <div class="col-md-4">
          <h2>{{ product.name }}</h2>
          <br><a href="{% url 'short_name' product.short_name %}">
          <img src="{{ MEDIA_URL }}{{ product.img.url }}" width="180"></a>
          {% if user.is_authenticated %}
            <form action="{% url 'cart_add' product.id %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="Добавить в корзину »"/>
            </form>
          {% else %}
            <input type="button" onclick="location.href='{% url 'login' %}';" value="Добавить в корзину »"/>
          {% endif %}
        </div>
      {% endfor %}
    </div> <!-- /container -->

  </div>
</main>

{% endblock %}