{% extends "base.html" %}
{% load static %}

{% block content %}

<main role="main">

  <div class="container mt-3">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
        <h2>{{ item.name }}</h2><br>
          <a><img src="{{ MEDIA_URL }}{{ item.img.url }}" width="180" class="preview"></a>
        <p>{{ item.body }}</p>
        <ul>
          {% for review in reviews %}
            <li><p>{{review.name}}: {{review.text}}</p></li>
          {% endfor %}
        </ul>
        {% if user.is_authenticated %}
          <form action="{% url 'cart_add' item.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину »"/>
          </form>
        {% else %}
          <input type="button" onclick="location.href='{% url 'login' %}';" value="Добавить в корзину »"/>
        {% endif %}
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h4>Оставте отзыв:</h4>
        <form action="" method="POST">
          {% csrf_token %}
          {{ form }}
          <br>
          <input type="submit" value="Отправить отзыв"/>
        </form>

      </div>
    </div>

  </div> <!-- /container -->

</main>

{% endblock %}