{% extends "base.html" %}
{% load static %}

{% block content %}
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Добро пожаловать в Магазинчик</h1>
    </div>
  </div>

  <div class="container mb-5">
    <!-- Example row of columns -->
    <div class="row">
      {% for article in articles_list %}
      <div class="col-md-6">
        <h2>{{ article.title }}</h2>
        <br><a>{{ article.text }}</a>
          <div class="row">
            <br>{% for product in article.product.all %}
            <div class="col-md-4">
              {{ product.name }}
              <br><a href="{% url 'short_name' product.short_name %}">
                <img src="{{ product.img.url }}" width="180"></a>
              <form>
                <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
              </form>
            </div>
            {% endfor %}
          </div>
      </div>
      {% endfor %}
    </div>
  </div> <!-- /container -->

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Вот что мы можем предложить:</h1>
    </div>
  </div>

  <div class="carousel">
    {% for product in products_list %}
      <a href="{% url 'short_name' product.short_name %}">
        <h3>{{ product.name }}</h3><br>
        <img src="{{ MEDIA_URL }}{{ product.img.url }}" width="180" class="preview">
        <form>
          <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
        </form>
      </a>
    {% endfor %}
  </div>




</main>
{% endblock %}